@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Iso&display=swap');

*{
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

.App {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: #333333;
  color: white;
}